<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="">
    <div class="row g-o">



<div class="col-lg-12">

    <!-- Masthead-->
<header class=" text-dark text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Contacto con transportistas</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-3">Envía un mensaje a los transportistas registrados en la aplicación</p>
    </div>
</header>

    <div class="d-flex justify-content flex-wrap ">
        <div *ngFor="let user of transportistas" class="card mx-4 my-3 shadow-lg p-3 mb-3" style="width: 25rem;">
            <div class="card-header p-0">
                <img src="./assets/dist/img/chofer.png" class="card-img-top img-fluid" alt="transportista">
            </div>
            <div class="card-body">
                
                <h5 class="card-title mb-3">Nombre: {{user.nombre}} {{user.apellido}}</h5>
                <h4 class="card-text">Dirección: {{user.direccion}}</h4>
                <h4 class="card-text">Email: {{user.email}}</h4>     
            </div>

            <div class="card-footer">
                <a href="https://api.whatsapp.com/send?phone={{593+user.telefono}}&text=Hola,%20soy%20un%20usuario%20de%20servirUTA%20y%20necesito%20m%C3%A1s%20informaci%C3%B3n%20del%20recorrido" class="btn btn-success btn-block w-100" type="submit" id="forgot"><span class="fa fa-whatsapp"></span> Enviar mensaje</a>
                <button data-toggle="modal" (click)="capturarIdTransportista(user.idUser)" data-target="#exampleModal" class="btn btn-warning btn-block w-100">Ver sus recorridos</button>
            </div>
        </div>
    </div>
</div>

    </div>
   <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5><span style="font-size: 25px; font-weight: 500">Recorridos creados por el chófer</span><br>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngFor="let rec of recorridos" class="modal-body">
          
            <h4>Recorridos: </h4>
            <h3>{{rec.nombreRec}}</h3>
            <h4>Hora de salida: </h4>
            <h3>{{rec.horaRec}}</h3>
          
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button id="closeBtn" type="button" class="btn btn-info" data-dismiss="modal">OK</button>
          
          
        </div>
      </div>
    </div>
  </div>

    
</body>


</html>