<!-- Footer-->
<footer class="footer text-center main-footer">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-3">Información</h4>
              <p class="lead mb-0">
                  Santiago Nuñez
                  <br />
                  Estudiante
              </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-3 mb-lg-0">
              <h4 class="text-uppercase mb-4">Redes Sociales</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/santiagonunez97/"><i class="fab fa-fw fa-facebook-f"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://x.com/santisantisebas?t=3-sUGrb4RqJRlCOZSGcvjw&s=09"><i class="fab fa-fw fa-twitter"></i></a>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-3">Acerca de</h4>
              <p class="lead mb-0">
                  Aplicación web responsive hecha con Bootstrap
                  <a href="http://startbootstrap.com">Aprende Bootstrap</a>
                  .
              </p>
          </div>
      </div>
  </div>
</footer> 
